@inject TimeLineServices service

<div class="card-style mb-30">
    <div class="table-wrapper table-responsive">
        <table class="table striped-table">
            <thead>
                <tr>
                    <th class="mr-5"></th>
                    <th>Titulo</th>
                    <th>Local</th>
                    <th>Posicao</th>
                    <th>Icone</th>
                    <th>Descrição</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Items)
                {
                    <tr>
                        <td>@(++count)</td>
                        <td>@item.Title</td>
                        <td>@item.Local</td>
                        <td>@item.Position</td>
                        <td>@item.Icon</td>
                        <td>@item.Description</td>
                        <td>
                            <button @onclick="@(e => OnClickeEditBtn(item.Id))"
                                class="btn btn-outline-warning">Editar</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@code {
    [Parameter]
    public List<TimeLineItem> Items { get; set; } = new List<TimeLineItem>();

    [Parameter]
    public EventCallback<TimeLineItem> OnEdit { get; set; }

    int count = 0;

    protected override void OnParametersSet()
    {
        count = 0;
    }

    async Task OnClickeEditBtn(int id)
    {
        TimeLineItem modelEdit = await service.GetDataById(id);

        await OnEdit.InvokeAsync(modelEdit);
    }

}
